<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Template</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar"></div>
      <h1>{{ intro }}</h1>
      <!--<p v-show="!hidden">{{ firstname }}</p>
      <p v-show="!hidden">{{ lastname }}</p>
      <p v-show="!hidden">{{ firstname + ' ' + lastname }}</p>
      <p v-show="!hidden">{{ lastname.substring(0, 4) }}</p>-->
      <p v-show="showLastname"> {{ lastname }}</p>
      <p v-show="!hidden">{{ fullname }}</p>
      <li v-if="showLastname">
        <button v-on:click="show">Hide Lastname</button>
      </li>
      <li v-else>
        <button v-on:click="show">Show Lastname</button>
      </li>
      <br>
      <li v-if="!hidden">
        <button class="button" @click="hideName">Hide Name</button>
      </li>
      <li v-else>
        <button class="button" @click="showName">Show Name</button>
      </li>
      <br>
      <li v-if="showStudent">
        <button v-on:click="showStudents">Hide Students</button>
      </li>
      <li v-else>
        <button v-on:click="showStudents">Show Students</button>
      </li>
      <!--<p v-for="student in students"> {{ student }}<br></p>-->
      <li v-if="showStudent">
        <p v-for="student in students">{{ "Firstname: " + student["firstname"] + ", Age: " + student["age"] }}<br></p>
        <br>
        <p v-for="student in students">{{ "Firstname: " + student["firstname"] + ", Lastname: " + student["lastname"] + ", Age: " + student["age"] }}<br></p>
      </li>
    </div>

    <!-- Import App -->
    <script src="./js/main.js"></script>

    <!-- Mount App -->
    <script>
      const mountedApp = app.mount('#app')
    </script>
  </body>
</html>
